<!-- Modal -->
<div id="transactionModal" class="modal">
    <div class="modal-content">
            <span class="close">&times;</span>
            <h3 class="form-title">Add new transaction</h3>

        <div class="transaction-type">
            <button id="incomeBtn" class="type-btn">Income</button>
            <button id="expenseBtn" class="type-btn expense">Expense</button>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-header">Date</div>
                <input type="date" id="transactionDate" name="transactionDate">
            </div>
            <div class="form-group">
                <div class="input-header">Category</div>
                <select name="category" id="category">
                <option value="">Select category</option>
                <option value="food">Food</option>
                <option value="travel">Travel</option>
                <option value="salary">Salary</option>
                <option value="shopping">Shopping</option>
                </select>
            </div>

            <div class="form-group">
                <div class="input-header">Amount</div>
                <input type="number" name="amount" placeholder="₹Amount" required>
            </div>

            <div class="form-group">
                <div class="input-header">Note</div>
                <input type="text" name="note" placeholder="Note">
            </div>

            <button type="submit" name="save" class="save-btn">Save</button>
        </form>
    </div>
</div>