{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ----------------STYLES----------------- -->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Money Tracker Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="header-section">
                <!-- Header -->
                {% include "header.html" %}

                <div class="filter-bar">
                    <button class="toggle-btn" id="toggleBtn">☰ Filter</button>

                    <div class="filtered-section">
                        <div class="filtered-items">
                            <div class="filtered-item">Income</div>
                            <button class="filtered-close">x</button>
                        </div>

                        <div class="filtered-items">
                            <div class="filtered-item">Income</div>
                            <button class="filtered-close">x</button>
                        </div>

                        <div class="filtered-items">
                            <div class="filtered-item">Income</div>
                            <button class="filtered-close">x</button>
                        </div>
                    </div>  
                </div>  

                <!-- Sidebar -->
                <div class="sidebar" id="sidebar">
                    <div class="sidebar-header">
                        <div class="sidebar-title">Filter</div>
                        <button class="close-button" id="close-button">X</button>
                    </div>
                    <a href="#">Dashboard</a>
                    <a href="#">Transactions</a>
                    <a href="#">Settings</a>
                </div>
            </div> 
            <!-- Transactions table -->
                <table id="transactionsTable">
                <thead>
                    <tr>
                    <th>Date <button onclick="sortTable(0)">⇅</button></th>
                    <th>Category <button onclick="sortTable(1)">⇅</button></th>
                    <th>Note <button onclick="sortTable(2)">⇅</button></th>
                    <th>Type <button onclick="sortTable(3)">⇅</button></th>
                    <th>Amount <button onclick="sortTable(4)">⇅</button></th>
                    </tr>
                </thead>
                <tbody>
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="width: 22%;">
                        <col style="width: 33%;">
                        <col style="width: 18%;">
                        <col style="width: 12%;">
                    </colgroup>

                    <tr>
                        <td>2025-08-01</td>
                        <td>Food</td>
                        <td>Mandhi</td>
                        <td>Expense</td>
                        <td>$25</td>
                    </tr>
                    <tr>
                        <td>2025-08-01</td>
                        <td>Transport</td>
                        <td>🚂 Aluva-Pattambi</td>
                        <td>Expense</td>
                        <td>$70</td>
                    </tr>
                    <tr>
                        <td>2025-08-01</td>
                        <td>Food</td>
                        <td>Mandhi</td>
                        <td>Expense</td>
                        <td>$25</td>
                    </tr>
                    <tr>
                        <td>2025-08-01</td>
                        <td>Food</td>
                        <td>Mandhi</td>
                        <td>Expense</td>
                        <td>$25</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <script src="{% static 'js/modal.js' %}"></script>
        <!-- JS -->
        <script>
            const toggleBtn = document.getElementById("toggleBtn");
            const sidebar = document.getElementById("sidebar");
            const closeBtn = document.getElementById("close-button")

            toggleBtn.addEventListener("click", () => {
                sidebar.classList.toggle("active");
            });

            // Close with close button
            closeBtn.addEventListener("click", () => {
                sidebar.classList.remove("active");
            });
        </script>
    </body>
</html>