.hidden {
    display: none;
}

/* ---------------Center Modal----------------- */
.modal-container {
    position: fixed;
    inset: 0;
    place-items: center;
    z-index: 1000;
}

.modal-overlay {
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    align-items:center;
    justify-content:center
}

/* ---------------Dropdown Modal----------------- */
.month-selector {
    display: flex;
    justify-content: center;
    position: relative;
}

.monthselector-modal {
    position: absolute;
    z-index: 1000;
    top: 40px;
    width: var(--width-ms-modal);
}


/* -----------------Profile Modal------------------ */
.profile-settings {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.profile-modal {
    position: absolute;
    top: 40px;
    background: var(--color-modal-bg);
    border-radius: 6px;
    box-shadow: var(--shadow-black);
    padding: 15px;
    width: var(--width-ps-modal);
    z-index: 1000;
}

.profile-navigation {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.profile-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    text-align: left;
    color: var(--color-text-primary);
}
.profile-button:hover {
    background-color: #130067;
}


/* --------------Transaction Modal---------------- */
.transaction-modal {
    width: var(--width-tr-modal);
}


/* -----------------Base Classes--------------------- */
.data-modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #999;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-modal-close:hover {
    color: #939393;
}

.modal-content {
    background: var(--color-modal-bg);  
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-black);
    padding: var(--spacing-lg);
    color: var(--color-text-primary);
    position: relative;
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-lg);
}

.form-title {
    font-size: var(--fs-card-title);
    color: var(--color-text-secondary);
    font-weight: bold;
    text-align: left;
    font-style: italic;
}

input, select {
    width: 100%;
    padding: var(--spacing-sm);
    border-radius: var(--radius-btn);
    border: none;
    background: var(--color-input-bg);
    color: var(--color-text-primary);
    outline: none;
    font-size: var(--fs-card-text);
    font-weight: bold;
}
input::placeholder {
    color: var(--color-text-secondary);
}



/* ----------Month Selector Modal------------ */
.selector-content {
    display: flex;
    flex-direction: row;
}

.selector-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selector-label {
    text-align: left;
    font-size: var(--fs-modal-label);
    color: var(--color-text-secondary);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-lg);
}

.selector-button {
    width: 100%;
    padding: var(--spacing-xs);
    background: #0077ff;
    border-radius: var(--radius-btn);
    border: none;
    font-size: var(--fs-card-text);
}
.selector-button:hover {
    background: #025abe;
}

.cancel {
    background: #9f9f9f;
}
.cancel:hover {
    background: #767575;
}





/* ----------Transaction Modal------------ */
.transaction-type {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--gap-medium);
}

.type-btn {
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: var(--fs-transaction-type);
    cursor: pointer;
    transition: all 0.3s ease;
}

.type-btn:not(.active) {
    color: #888;
}
.type-btn.income.active {
    color: rgb(0, 218, 0);
}
.type-btn.expense.active {
    color: red;
}

.form-group {
    justify-items: left;
    margin-bottom: var(--spacing-sm);
}

.input-header {
    font-size: var(--fs-modal-label);
    margin-left: var(--spacing-sm);
}

input, select {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-btn);
    border: none;
    background: var(--color-input-bg);
    color: var(--color-text-primary);
    outline: none;
    font-size: var(--fs-card-text);
}
input::placeholder {
    color: var(--color-text-secondary);
}

.form-actions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.save-btn {
    background: var(--color-success);
    border: none;
    padding: var(--spacing-sm);
    border-radius: var(--radius-btn);
    font-weight: bold;
    cursor: pointer;
    color: var(--color-text-primary);
    margin-top: var(--spacing-lg);
}
.save-btn:hover {
    background: #049b04;
}



/* Saving goals editor */
/* ---------------------------------------- */

.sg-add-modal {
    background: var(--color-modal-bg);
    padding: var(--spacing-lg);
    border-radius: var(--radius-card);
    width: var(--sg-editor-width);
}

.form-row{
    display:flex;
    gap:8px
}

input,select,textarea{
    background:transparent;
    border:1px solid #1a1818;
    padding: var(--spacing-md);
    border-radius: var(--radius-card);
    color: var(--color-text-primary);
    width:100%
}

label{
    font-size: var(--fs-card-text);
    color:var(--muted);
    display:block;
    margin-bottom: var(--spacing-sm);
}

.editor-action-buttons {
    display:flex;
    gap: var(--spacing-md);
    justify-content:flex-end;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-content {
    display:flex;
    flex-direction:column;
    gap: var(--gap-medium);
    margin-top: var(--spacing-md);
}

.add-button {
    font-size: 18px;
    background: transparent;
    border: none;
    color: var(--color-text-primary);
    cursor: pointer;
}