.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:flex;
    align-items:center;
    justify-content:center
}

.modal-content {
    background: #050550;  
    border-radius: 12px;
    padding: 20px;
    width: 300px;
    color: #fff;
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
}

.form-title {
    font-style: italic;
    margin-bottom: 10px;
    color: #aaa;
}

.transaction-type {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}
.type-btn {
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
.type-btn.expense {
    color: red;
}

.form-group {
    margin-bottom: 12px;
}
input, select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: #121272;
    color: white;
    outline: none;
}
input::placeholder {
    color: #ccc;
}

.form-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.save-btn {
    background: #00d000;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.save-btn:hover {
    background: #00b000;
}

.open-btn {
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.hidden{display:none} 
