.modal{
    position:fixed;
    inset:0;
    background: var(--modal-overlay-bg);
    display:flex;
    align-items:center;
    justify-content:center
}

.modal-content {
    background: var(--color-bg-card);  
    border-radius: var(--radius-card);
    padding: var(--gap-large);
    width: var(--tr-modal-width);
    color: var(--color-text-primary);
    position: relative;
    text-align: center;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--color-text-primary);
}

.form-title {
    font-size: var(--fs-modal-title);
    font-style: italic;
    margin-bottom: 20px;
    color: var(--color-text-secondary);
    text-align: left;
}

.transaction-type {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-lg);
}

.type-btn {
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: var(--fs-modal-type);
    cursor: pointer;
    transition: all 0.3s ease;
}

.type-btn:not(.active) {
    color: #888;
}

.type-btn.income.active {
    color: rgb(0, 218, 0);
}

.type-btn.expense.active {
    color: red;
}

.form-group {
    justify-items: left;
    margin-bottom: var(--spacing-md);
}

.input-header {
    font-size: var(--fs-input-header);
    margin-left: var(--spacing-sm);
}

input, select {
    width: 100%;
    padding: var(--spacing-sm);
    border-radius: var(--input-border-radius);
    border: none;
    font-size: var(--fs-card-text);
    background: var(--input-bg);
    color: var(--color-text-primary);
    outline: none;
}
input::placeholder {
    color: var(--color-text-secondary);
}

.save-btn {
    width: 100%;
    background: var(--color-success);
    border: none;
    padding: var(--spacing-sm);
    border-radius: var(--input-border-radius);
    font-weight: bold;
    cursor: pointer;
    color: var(--color-text-primary);
    margin-top: var(--spacing-lg);
}
.save-btn:hover {
    background: #00b000;
}

.hidden{
    display:none
} 


